.App {
  text-align: center;
}

.input{
  margin-top: 100px;
  width: 500px;
  height: 30px;
  font-size: 22px;
}
.btn {
  margin-left: 20px;
  padding: 4px;
  font-size: 21px;
}
.task {
  border: 1px solid black;
  display: inline-block;
  width: 576px;
  height: 40px;
  box-shadow: 2px 2px 2px black;
  border-radius: 4px;
  margin-top: 20px;
}
.btn-delete{
  margin-top: 9px;
  margin-right: 10px;
}
span {
  margin-left: 10px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}